
.fade_slide_section {
    background: gainsboro;
}

.slide_content {
    text-align: center;
    /* width: 400px; */
    /* height: 400px; */
    /* background: #fff; */
    margin: 0 auto;
    /* margin-bottom: 20px; */
    font-size: 50px;
    color: #fff;
    text-transform: capitalize;
    font-weight: 600;
}

.fade_item {
    width: 500px;
    height: 500px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 20px;
    /* background: #fff; */
    /*  background-repeat: no-repeat;
   background-attachment: fixed;
   background-position: center;
   background-size: cover; */
}

.one {
    background-image: url("assest/img/th.jpg");
}
.two {
    background-image: url("assest/img/th (1).jpg");
}
.three {
    background-image: url("assest/img/th (3).jpg");
}
.four {
    background-image: url("assest/img/th (4).jpg");
}

div#slick-slide00 {}

.slick-arrow {
    display: none;
}

button.slick-prev.slick-arrow {
    display: none !IMPORTANT;
}

button.slick-next.slick-arrow {
    display: none !IMPORTANT;
}
